section.footer {
  background-color: rgba(12, 10, 17, 0.886);
  background-image: url(../../../Assets/Images/footer.png);
  background-position: center;
  background-size: cover;
  height: fit-content;
  color:#fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.footer > .first-footer {
  padding:5rem;
  color:#fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section.footer > .first-footer > .bottom-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}
section.footer > .first-footer > .bottom-footer > div li {
  list-style-type: none;
  margin-bottom: .9rem;
}
section.footer > .first-footer > .top-footer > h1:first-child {
  font-family: monospace;
  font-size: 2.5rem;
}
section.footer > .first-footer > .top-footer > p {
  font-size: .9rem;
}
section.footer > .last-footer {
  text-align: center;
  font-size: smaller;
  font-style: oblique;
}
@media only screen and (max-width: 720px) {
  section.footer > .first-footer {
    flex-direction: column;
    padding: 2.5rem;
  }
  section.footer > .first-footer > .top-footer {
    margin-bottom: 2.6rem;
  }
  section.footer > .first-footer > .top-footer > h1:first-child {
    font-family: monospace;
    font-size: 1.7rem;
  }
  section.footer > .first-footer > .bottom-footer {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  section.footer > .first-footer >  .bottom-footer > div li {
    font-size: .8rem;
  }
}
.footer__img--container {
  width:20rem;
  height: 20rem;

  .footer__img {
    width: 100%;
    height: 100%
  }
}